@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant BoldItalic";
  src: url("../fonts/Cormorant-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}