* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .container {
    padding-left: 15px;
}
    
}

