$bg_pic: url(/assets/image/bg_pic.jpg);
$bg_col: url(/assets/image/bg_col.jpg);

$white_color: #FFFFFF;
$light_green_color: #BAE249;
$dark_green_color: #1D2F30;
$black_color: #0B191A;
$white_green_color: #899D9D;
$dark_green_description_color: #506829;
$green_focus: #83A440;
$green_active: #688B05;
$green_hover: #91AC46;
$grey: #899D9D;





